* { margin:0; padding:0; }
body { text-align:center; font-size:15px; font-family: Verdana }
div#container { margin:20px auto; text-align:left; width:500px; height:100px;  }
div#container form {float:left}
div#container form ul { list-style: none;}
div#container form ul li {margin: 10px 0; float: left; clear:both}
div#container form ul li label {width:150px; float:left; line-height:30px}
div#container form ul li input {float:left; width:332px; border: 2px solid black; height:30px; padding: 0 5px; font-size:15px}
div#container form ul li div.error { clear:both; margin-left: 150px; line-height:20px; color: red}
div#container form ul li.field_with_errors input {border: 2px solid darkred; background: darkred; color: white}
div#container form ul li.ok input {border: 2px solid darkgreen; background: lightgreen; color: darkgreen}


